In [1]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/f2/8c/35364a11b3e25f8e29a35420b0d18f65ec4f9d6d38e86a62d16ef998923c/pandas-2.1.1-cp39-cp39-win_amd64.whl.metadata
  Downloading pandas-2.1.1-cp39-cp39-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.22.4 (from pandas)
  Obtaining dependency information for numpy>=1.22.4 from https://files.pythonhosted.org/packages/2d/ed/022fc4106f6d97e41e156201274138e0369b27dbfc8c206034f24ebd97d9/numpy-1.26.1-cp39-cp39-win_amd64.whl.metadata
  Downloading numpy-1.26.1-cp39-cp39-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     ---------------------------------------- 61.2/61.2 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp39-cp39-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
    --------------------------------------- 0.2/10.8 MB 3.1 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/10.8 MB 6.4 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 6.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.8 MB 2.0 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/10.8 MB 1.8 MB/s eta 0:00:06
   --- ------------------------------------ 0.9/10.8 MB 1.7 MB/s eta 0:00:06
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/10.8 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/10.8 MB 1.1 MB/s eta 0:00:09
   ---- ----------------------------------- 1.2/10.8 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/10.8 MB 1.6 MB/s eta 0:00:06
   ------- -------------------------------- 2.0/10.8 MB 2.0 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 2.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 932.7 kB/s eta 0:00:10
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 825.3 kB/s eta 0:00:11
   -------- ------------------------------- 2.4/10.8 MB 666.6 kB/s eta 0:00:13
   -------- ------------------------------- 2.4/10.8 MB 666.6 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 660.9 kB/s eta 0:00:13
   --------- ------------------------------ 2.4/10.8 MB 614.0 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 609.7 kB/s eta 0:00:14
   --------- ------------------------------ 2.5/10.8 MB 516.2 kB/s eta 0:00:17
   --------- ------------------------------ 2.5/10.8 MB 515.4 kB/s eta 0:00:17
   --------- ------------------------------ 2.5/10.8 MB 514.6 kB/s eta 0:00:17
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.5/10.8 MB 516.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.6/10.8 MB 484.2 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.4 kB/s eta 0:00:18
   --------- ------------------------------ 2.6/10.8 MB 482.4 kB/s eta 0:00:18
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 482.0 kB/s eta 0:00:17
   --------- ------------------------------ 2.6/10.8 MB 457.3 kB/s eta 0:00:18
   --------- ------------------------------ 2.6/10.8 MB 454.6 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 455.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 456.1 kB/s eta 0:00:18
   --------- ------------------------------ 2.7/10.8 MB 440.2 kB/s eta 0:00:19
   --------- ------------------------------ 2.7/10.8 MB 440.2 kB/s eta 0:00:19
   --------- ------------------------------ 2.7/10.8 MB 440.2 kB/s eta 0:00:19
   --------- ------------------------------ 2.7/10.8 MB 440.2 kB/s eta 0:00:19
   --------- ------------------------------ 2.7/10.8 MB 440.2 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.1 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.8 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.8 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.8 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.8 kB/s eta 0:00:19
   ---------- ----------------------------- 2.7/10.8 MB 426.8 kB/s eta 0:00:19
   ---------- ----------------------------- 2.8/10.8 MB 416.3 kB/s eta 0:00:20
   ---------- ----------------------------- 2.8/10.8 MB 416.3 kB/s eta 0:00:20
   ---------- ----------------------------- 2.8/10.8 MB 416.3 kB/s eta 0:00:20
   ---------- ----------------------------- 2.8/10.8 MB 416.3 kB/s eta 0:00:20
   ---------- ----------------------------- 2.8/10.8 MB 416.3 kB/s eta 0:00:20
   ---------- ----------------------------- 2.8/10.8 MB 403.6 kB/s eta 0:00:20
   ---------- ----------------------------- 2.9/10.8 MB 415.7 kB/s eta 0:00:20
   ----------- ---------------------------- 3.2/10.8 MB 459.9 kB/s eta 0:00:17
   -------------- ------------------------- 3.9/10.8 MB 553.2 kB/s eta 0:00:13
   ---------------- ----------------------- 4.5/10.8 MB 632.2 kB/s eta 0:00:10
   ----------------- ---------------------- 4.8/10.8 MB 672.6 kB/s eta 0:00:09
   ------------------ --------------------- 5.0/10.8 MB 693.9 kB/s eta 0:00:09
   ------------------- -------------------- 5.2/10.8 MB 722.2 kB/s eta 0:00:08
   -------------------- ------------------- 5.4/10.8 MB 745.5 kB/s eta 0:00:08
   -------------------- ------------------- 5.6/10.8 MB 760.6 kB/s eta 0:00:07
   -------------------- ------------------- 5.6/10.8 MB 760.2 kB/s eta 0:00:07
   -------------------- ------------------- 5.6/10.8 MB 760.2 kB/s eta 0:00:07
   -------------------- ------------------- 5.6/10.8 MB 756.3 kB/s eta 0:00:07
   -------------------- ------------------- 5.7/10.8 MB 756.8 kB/s eta 0:00:07
   --------------------- ------------------ 5.8/10.8 MB 762.8 kB/s eta 0:00:07
   ---------------------- ----------------- 6.0/10.8 MB 793.2 kB/s eta 0:00:07
   ------------------------ --------------- 6.5/10.8 MB 850.1 kB/s eta 0:00:06
   -------------------------- ------------- 7.2/10.8 MB 934.3 kB/s eta 0:00:04
   ---------------------------- ----------- 7.6/10.8 MB 988.3 kB/s eta 0:00:04
   ----------------------------- ---------- 7.9/10.8 MB 1.0 MB/s eta 0:00:03
   ----------------------------- ---------- 8.0/10.8 MB 1.0 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.1/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.1/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.2/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.2/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 1.0 MB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 974.7 kB/s eta 0:00:03
   ------------------------------ --------- 8.3/10.8 MB 973.4 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 968.8 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 967.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 894.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 894.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 894.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 894.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 894.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 875.9 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 873.8 kB/s eta 0:00:03
   ------------------------------- -------- 8.4/10.8 MB 873.8 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 866.5 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 840.3 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 840.3 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 836.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 836.1 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 830.4 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 830.4 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.5/10.8 MB 823.6 kB/s eta 0:00:03
   ------------------------------- -------- 8.6/10.8 MB 782.9 kB/s eta 0:00:03
   ------------------------------- -------- 8.6/10.8 MB 782.9 kB/s eta 0:00:03

In [2]:
!pip install ksql

Collecting ksql
  Downloading ksql-0.10.2.tar.gz (15 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from ksql) (2.31.0)
Requirement already satisfied: six in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from ksql) (1.16.0)
Requirement already satisfied: urllib3 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from ksql) (2.0.6)
Collecting hyper (from ksql)
  Downloading hyper-0.7.0-py2.py3-none-any.whl (269 kB)
     ---------------------------------------- 0.0/269.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/269.8 kB ? eta -:--:--
     -------------------------------------  266.2/269.8 kB 5.4 MB/s eta 0:00:01
     -------------------------------------- 269.8/269.8 kB 4.2 MB/s eta 0:00:00
Collecting h2<3.0,>=2.4 (from hyper->ksql)
  Downloading h2-2.6.2-py2.py3-none-any.whl (71 kB)
     ---------------------------------------- 0.0/71.9 kB ? eta -:--:--
     ---------------------------------------- 71.9/71.9 kB 3.9 MB/s eta 0:00:00
Collecting hyperframe<4.0,>=3.2 (from hyper->ksql)
  Downloading hyperframe-3.2.0-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from requests->ksql) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from requests->ksql) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tjk\appdata\local\anaconda3\envs\spark_bus_env01\lib\site-packages (from requests->ksql) (2023.7.22)
Collecting hpack<4,>=2.2 (from h2<3.0,>=2.4->hyper->ksql)
  Using cached hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: ksql
  Building wheel for ksql (setup.py): started
  Building wheel for ksql (setup.py): finished with status 'done'
  Created wheel for ksql: filename=ksql-0.10.2-py3-none-any.whl size=12837 sha256=d6b1ea93e4abc0678c32744ddd2adc12533c3f6c7c6d7c191f4fc83db4c9b49c
  Stored in directory: c:\users\tjk\appdata\local\pip\cache\wheels\41\01\fe\a845eee067cabc26ab42264eb2c711f35400ceabfb44548757
Successfully built ksql
Installing collected packages: hyperframe, hpack, h2, hyper, ksql
Successfully installed h2-2.6.2 hpack-3.0.0 hyper-0.7.0 hyperframe-3.2.0 ksql-0.10.2

In [1]:
import logging
from ksql import KSQLAPI
import pandas as pd
import time
import datetime
import random

In [2]:
#       KSQLDB  http://localhost:8089
# API         
client = KSQLAPI('http://localhost:8089', timeout=None)

In [3]:
#  () 
result = client.ksql('show topics;')
result

[{'@type': 'kafka_topics',
  'statementText': 'show topics;',
  'topics': [{'name': 'car_arrive_topic', 'replicaInfo': [1]},
   {'name': 'car_location_topic', 'replicaInfo': [1]},
   {'name': 'default_ksql_processing_log', 'replicaInfo': [1]}],
  'warnings': []}]

In [4]:
#     location.csv 
location_df = pd.read_csv("location.csv")
location_df

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude
0,210457,2019-10-29,405136001,7997025,360-1,33.457724,126.554014,,07,333.0,,33.458783,126.557353
1,210458,2019-10-29,405136001,7997025,360-1,33.458783,126.557353,,07,415.0,,33.459893,126.561624
2,210459,2019-10-29,405136001,7997025,360-1,33.478867,126.483833,/,08,417.0,2,33.478850,126.488350
3,210460,2019-10-29,405136001,7997025,360-1,33.478850,126.488350,2,08,334.0,1,33.480700,126.489933
4,210461,2019-10-29,405136001,7997025,360-1,33.480700,126.489933,1,08,550.0,,33.482077,126.485355
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91769,302350,2019-11-05,405328102,7983486,281-2,33.493625,126.534764,(),20,272.0,(),33.495540,126.532907
91770,302351,2019-11-05,405328102,7983486,281-2,33.495540,126.532907,(),20,447.0,(),33.498925,126.530351
91771,302352,2019-11-05,405328102,7983486,281-2,33.498925,126.530351,(),20,418.0,,33.500473,126.527103
91772,302353,2019-11-05,405328102,7983486,281-2,33.500473,126.527103,,20,140.0,,33.500228,126.525625
91773,302354,2019-11-05,405328102,7983486,281-2,33.499916,126.521348,,20,541.0,(),33.499190,126.516324

In [5]:
location_df.sort_values(["date", "now_arrive_time"], inplace=True)
location_df

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude
528,210985,2019-10-29,405136001,7997040,360-1,33.499560,126.529771,(),05,454.0,(),33.496007,126.532287
529,210986,2019-10-29,405136001,7997040,360-1,33.496007,126.532287,(),05,414.0,(),33.493109,126.535091
530,210987,2019-10-29,405136001,7997040,360-1,33.493109,126.535091,(),05,525.0,(),33.489414,126.538642
531,210988,2019-10-29,405136001,7997040,360-1,33.479705,126.543811,(),05,355.0,,33.476533,126.544283
532,210989,2019-10-29,405136001,7997040,360-1,33.456267,126.551750,,05,266.0,,33.457724,126.554014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91552,302133,2019-11-05,405328102,7983445,281-2,33.495540,126.532907,(),23,447.0,(),33.498925,126.530351
91553,302134,2019-11-05,405328102,7983445,281-2,33.498925,126.530351,(),23,418.0,,33.500473,126.527103
91554,302135,2019-11-05,405328102,7983445,281-2,33.500473,126.527103,,23,140.0,,33.500228,126.525625
91555,302136,2019-11-05,405328102,7983445,281-2,33.500228,126.525625,,23,165.0,,33.499974,126.523865
91556,302137,2019-11-05,405328102,7983445,281-2,33.499916,126.521348,,23,541.0,(),33.499190,126.516324

In [6]:
location_df.reset_index(drop=True, inplace=True)
location_df

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude
0,210985,2019-10-29,405136001,7997040,360-1,33.499560,126.529771,(),05,454.0,(),33.496007,126.532287
1,210986,2019-10-29,405136001,7997040,360-1,33.496007,126.532287,(),05,414.0,(),33.493109,126.535091
2,210987,2019-10-29,405136001,7997040,360-1,33.493109,126.535091,(),05,525.0,(),33.489414,126.538642
3,210988,2019-10-29,405136001,7997040,360-1,33.479705,126.543811,(),05,355.0,,33.476533,126.544283
4,210989,2019-10-29,405136001,7997040,360-1,33.456267,126.551750,,05,266.0,,33.457724,126.554014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91769,302133,2019-11-05,405328102,7983445,281-2,33.495540,126.532907,(),23,447.0,(),33.498925,126.530351
91770,302134,2019-11-05,405328102,7983445,281-2,33.498925,126.530351,(),23,418.0,,33.500473,126.527103
91771,302135,2019-11-05,405328102,7983445,281-2,33.500473,126.527103,,23,140.0,,33.500228,126.525625
91772,302136,2019-11-05,405328102,7983445,281-2,33.500228,126.525625,,23,165.0,,33.499974,126.523865
91773,302137,2019-11-05,405328102,7983445,281-2,33.499916,126.521348,,23,541.0,(),33.499190,126.516324

In [7]:
# 0    
location_df.loc[0]

id                     210457
date               2019-10-29
route_id            405136001
vh_id                 7997025
route_nm                360-1
now_latitude        33.457724
now_longitude      126.554014
now_station
now_arrive_time           07
distance                333.0
next_station
next_latitude       33.458783
next_longitude     126.557353
Name: 0, dtype: object

In [8]:
#    
count = len(location_df)
count

91774

In [9]:
#  
index = 0
#  
while True:
    if index >= count:
        index = 0
    now = datetime.datetime.now()
    print("now =", now)
    
    date = now.strftime('%Y-%m-%d')
    print("date =", date)
    
    now_arrive_time = now.hour
    print("now_arrive_time =", now_arrive_time)
    
    weekday = now.weekday()
    print("weekday =", weekday)
    
    location_row = location_df.loc[index]
    
    route_id = location_df.loc[index, 'route_id']
    print("route_id =", route_id)
    
    vh_id = location_df.loc[index, 'vh_id']
    print("vh_id =", vh_id)
    
    route_nm = location_df.loc[index, 'route_nm']
    print("route_nm =", route_nm)
    
    now_latitude = round(location_df.loc[index, 'now_latitude'], 6)
    print("now_latitude =", now_latitude)
    
    now_longitude = round(location_df.loc[index, 'now_longitude'], 6)
    print("now_longitude =", now_longitude)
    
    now_station = location_df.loc[index, 'now_station']
    print("now_station =", now_station)
    
    distance = location_df.loc[index, 'distance']
    print("distance =", distance)
    
    next_latitude = round(location_df.loc[index, 'next_latitude'], 6)
    print("next_latitude =", next_latitude)
    
    next_longitude = round(location_df.loc[index, 'next_longitude'], 6)
    print("next_longitude =", next_longitude)
    
    next_station = location_df.loc[index, 'next_station']
    print("next_station =", next_station)
    
    # now.timestamp():    
    # int     
    id = int(now.timestamp())
    print("id =", id)
    
    insert_query = f"""INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( {id}, '{route_id}', '{vh_id}',
        '{route_nm}', {now_latitude}, {now_longitude},
        '{now_station}', {now_arrive_time}, {distance},
        '{next_station}', {next_latitude}, {next_longitude},
        {weekday}, '{date}');"""
    
    print("insert_query =", insert_query)
    try:
        client.ksql(insert_query) # KSQLDB   
    except Exception as e:
        print("   : e =", e)
    
    sleep_time = random.randrange(120, 600)
    print("sleep_time =", sleep_time)
    time.sleep(sleep_time)
    
    # # 30 
    # time.sleep(30)
    #  1 
    index += 1
    print("=" * 100)

now = 2023-10-16 14:46:08.685325
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.457724
now_longitude = 126.554014
now_station =
distance = 333.0
next_latitude = 33.458783
next_longitude = 126.557353
next_station =
id = 1697435168
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435168, '405136001', '7997025',
        '360-1', 33.457724, 126.554014,
        '', 14, 333.0,
        '', 33.458783, 126.557353,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:46:39.495068
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.458783
now_longitude = 126.557353
now_station =
distance = 415.0
next_latitude = 33.459893
next_longitude = 126.561624
next_station =
id = 1697435199
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435199, '405136001', '7997025',
        '360-1', 33.458783, 126.557353,
        '', 14, 415.0,
        '', 33.459893, 126.561624,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:47:09.751304
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.478867
now_longitude = 126.483833
now_station = /
distance = 417.0
next_latitude = 33.47885
next_longitude = 126.48835
next_station = 2
id = 1697435229
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435229, '405136001', '7997025',
        '360-1', 33.478867, 126.483833,
        '/', 14, 417.0,
        '2', 33.47885, 126.48835,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:47:39.980847
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.47885
now_longitude = 126.48835
now_station = 2
distance = 334.0
next_latitude = 33.4807
next_longitude = 126.489933
next_station = 1
id = 1697435259
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435259, '405136001', '7997025',
        '360-1', 33.47885, 126.48835,
        '2', 14, 334.0,
        '1', 33.4807, 126.489933,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:48:10.089210
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.4807
now_longitude = 126.489933
now_station = 1
distance = 550.0
next_latitude = 33.482077
next_longitude = 126.485355
next_station =
id = 1697435290
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435290, '405136001', '7997025',
        '360-1', 33.4807, 126.489933,
        '1', 14, 550.0,
        '', 33.482077, 126.485355,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:48:40.238882
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.482077
now_longitude = 126.485355
now_station =
distance = 199.0
next_latitude = 33.482142
next_longitude = 126.483213
next_station =
id = 1697435320
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435320, '405136001', '7997025',
        '360-1', 33.482077, 126.485355,
        '', 14, 199.0,
        '', 33.482142, 126.483213,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:49:10.362969
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.482142
now_longitude = 126.483213
now_station =
distance = 341.0
next_latitude = 33.483446
next_longitude = 126.480758
next_station =
id = 1697435350
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435350, '405136001', '7997025',
        '360-1', 33.482142, 126.483213,
        '', 14, 341.0,
        '', 33.483446, 126.480758,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:49:40.589407
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.483446
now_longitude = 126.480758
now_station =
distance = 185.0
next_latitude = 33.485854
next_longitude = 126.48053
next_station =
id = 1697435380
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435380, '405136001', '7997025',
        '360-1', 33.483446, 126.480758,
        '', 14, 185.0,
        '', 33.485854, 126.48053,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:50:10.757585
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.488046
now_longitude = 126.483112
now_station =
distance = 322.0
next_latitude = 33.489633
next_longitude = 126.486
next_station =
id = 1697435410
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435410, '405136001', '7997025',
        '360-1', 33.488046, 126.483112,
        '', 14, 322.0,
        '', 33.489633, 126.486,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:50:40.921939
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.489633
now_longitude = 126.486
now_station =
distance = 291.0
next_latitude = 33.4899
next_longitude = 126.488917
next_station =
id = 1697435440
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435440, '405136001', '7997025',
        '360-1', 33.489633, 126.486,
        '', 14, 291.0,
        '', 33.4899, 126.488917,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:51:11.078512
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.4899
now_longitude = 126.488917
now_station =
distance = 381.0
next_latitude = 33.487531
next_longitude = 126.489892
next_station =
id = 1697435471
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435471, '405136001', '7997025',
        '360-1', 33.4899, 126.488917,
        '', 14, 381.0,
        '', 33.487531, 126.489892,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:51:41.260269
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.487531
now_longitude = 126.489892
now_station =
distance = 267.0
next_latitude = 33.485822
next_longitude = 126.490897
next_station =
id = 1697435501
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435501, '405136001', '7997025',
        '360-1', 33.487531, 126.489892,
        '', 14, 267.0,
        '', 33.485822, 126.490897,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:52:11.501851
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.485822
now_longitude = 126.490897
now_station =
distance = 374.0
next_latitude = 33.485662
next_longitude = 126.494923
next_station =
id = 1697435531
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435531, '405136001', '7997025',
        '360-1', 33.485822, 126.490897,
        '', 14, 374.0,
        '', 33.485662, 126.494923,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:52:41.751983
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.485662
now_longitude = 126.494923
now_station =
distance = 321.0
next_latitude = 33.487317
next_longitude = 126.496617
next_station =
id = 1697435561
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435561, '405136001', '7997025',
        '360-1', 33.485662, 126.494923,
        '', 14, 321.0,
        '', 33.487317, 126.496617,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:53:11.956979
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.487317
now_longitude = 126.496617
now_station =
distance = 455.0
next_latitude = 33.491433
next_longitude = 126.496783
next_station =
id = 1697435591
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435591, '405136001', '7997025',
        '360-1', 33.487317, 126.496617,
        '', 14, 455.0,
        ' ', 33.491433, 126.496783,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:53:42.097328
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.500045
now_longitude = 126.511035
now_station =
distance = 354.0
next_latitude = 33.49993
next_longitude = 126.514863
next_station =
id = 1697435622
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435622, '405136001', '7997025',
        '360-1', 33.500045, 126.511035,
        '', 14, 354.0,
        '', 33.49993, 126.514863,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:54:12.279998
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.49993
now_longitude = 126.514863
now_station =
distance = 262.0
next_latitude = 33.499793
next_longitude = 126.517687
next_station =
id = 1697435652
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435652, '405136001', '7997025',
        '360-1', 33.49993, 126.514863,
        '', 14, 262.0,
        '', 33.499793, 126.517687,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:54:42.364679
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.499793
now_longitude = 126.517687
now_station =
distance = 333.0
next_latitude = 33.499683
next_longitude = 126.521267
next_station =
id = 1697435682
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435682, '405136001', '7997025',
        '360-1', 33.499793, 126.517687,
        '', 14, 333.0,
        '', 33.499683, 126.521267,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:55:12.531033
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.499683
now_longitude = 126.521267
now_station =
distance = 232.0
next_latitude = 33.499789
next_longitude = 126.523759
next_station =
id = 1697435712
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435712, '405136001', '7997025',
        '360-1', 33.499683, 126.521267,
        '', 14, 232.0,
        '', 33.499789, 126.523759,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:55:42.663653
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.499789
now_longitude = 126.523759
now_station =
distance = 193.0
next_latitude = 33.500017
next_longitude = 126.525833
next_station =
id = 1697435742
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435742, '405136001', '7997025',
        '360-1', 33.499789, 126.523759,
        '', 14, 193.0,
        ' ', 33.500017, 126.525833,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:56:12.784739
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.500017
now_longitude = 126.525833
now_station =
distance = 459.0
next_latitude = 33.49956
next_longitude = 126.529771
next_station = ()
id = 1697435772
insert_query = INSERT INTO car_location_topic (
        id,
        route_id,
        vh_id,
        route_nm,
        now_latitude,
        now_longitude,
        now_station,
        now_arrive_time,
        distance,
        next_station,
        next_latitude,
        next_longitude,
        weekday,
        date
        ) VALUES ( 1697435772, '405136001', '7997025',
        '360-1', 33.500017, 126.525833,
        ' ', 14, 459.0,
        '()', 33.49956, 126.529771,
        0, '2023-10-16');
   : e = list index out of range
====================================================================================================
now = 2023-10-16 14:56:42.933122
date = 2023-10-16
now_arrive_time = 14
weekday = 0
route_id = 405136001
vh_id = 7997025
route_nm = 360-1
now_latitude = 33.49956
now_longitude = 126.529771
now_station = ()
distance = 454.0
next_latitude = 33.496007
next_longitude = 126.532287
next_station = ()
id = 1697435802