In [2]:
import pandas as pd
import numpy as np
from pylab import mpl, plt
import os
import seaborn as sns

In [3]:
plt.style.use('seaborn')
mpl.rcParams['savefig.dpi'] = 300
mpl.rcParams['font.family'] = 'malgun gothic'
mpl.rcParams['axes.unicode_minus'] = False
np.set_printoptions(suppress=True, precision=4)
os.environ['PYTHONHASHSEED'] = '0'

In [4]:
os.chdir("C:\\Bigdata_system\\workspace\\")

In [5]:
os.getcwd()

'C:\\Bigdata_system\\workspace'

In [6]:
df1 = pd.read_csv("영업이익.csv", index_col=0, encoding='utf-8')

In [7]:
df1.head(10)

          stk_nm          영업이익
stk_cd
51910       LG화학  8.956480e+11
36570      엔씨소프트  4.789924e+11
6400       삼성SDI  4.621765e+11
2320          한진  9.065509e+10
91990   셀트리온헬스케어  8.279314e+10
4370          농심  7.881605e+10
33640        네패스  5.997530e+10
84850    아이티엠반도체  5.350144e+10
3480    한진중공업홀딩스  3.842200e+10
17890       한국알콜  3.310000e+10

In [8]:
df2 = pd.read_csv("당기순이익.csv", index_col=0, encoding='utf-8')
df3 = pd.read_csv("60일영업이익.csv", index_col=0, encoding='utf-8')
df4 = pd.read_csv("60일당기순이익.csv", index_col=0, encoding='utf-8')
df5 = pd.read_csv("10일prc기울기_10일vol기울기.csv", index_col=0, encoding='utf-8')
df6 = pd.read_csv("60일prc기울기_60일vol기울기.csv", index_col=0, encoding='utf-8')

In [9]:
df2.head(10)

          stk_nm         당기순이익
stk_cd
6400       삼성SDI  4.023664e+11
51910       LG화학  3.761040e+11
36570      엔씨소프트  3.591547e+11
4370          농심  7.106895e+10
91990   셀트리온헬스케어  6.496200e+10
84850    아이티엠반도체  4.166685e+10
17890       한국알콜  3.205148e+10
3480    한진중공업홀딩스  3.035500e+10
33640        네패스  2.983109e+10
96530         씨젠  2.670983e+10

In [10]:
df3.head(10)

        stk_nm        60영업이익
stk_cd
51900   LG생활건강  1.176411e+12
97950   CJ제일제당  8.968579e+11
51910     LG화학  8.956480e+11
28260     삼성물산  8.667701e+11
9150      삼성전기  7.339688e+11
35420    NAVER  7.100702e+11
36570    엔씨소프트  4.789924e+11
6400     삼성SDI  4.621765e+11
8770      호텔신라  2.958600e+11
35720      카카오  2.067862e+11

In [11]:
df4.head(10)

        stk_nm       60당기순이익
stk_cd
28260     삼성물산  1.047891e+12
51900   LG생활건강  7.881731e+11
9150      삼성전기  5.280486e+11
6400     삼성SDI  4.023664e+11
35420    NAVER  3.968211e+11
51910     LG화학  3.761040e+11
36570    엔씨소프트  3.591547e+11
97950   CJ제일제당  1.910283e+11
251270     넷마블  1.697692e+11
3670    포스코케미칼  1.011634e+11

In [12]:
df5.head(13)

          stk_cd      stk_nm  10일prc기울기   10일vol기울기  rank
sec_nm
NaN         6405      삼성SDI우    3981.00     4328.50     1
NaN        19175       신풍제약우     776.10    68950.52     2
NaN         7575       일양약품우     301.00     4694.09     3
IT서비스      60250  NHN한국사이버결제     286.08    24132.63     1
IT서비스      67010        이씨에스      83.18   602721.22     3
가스유틸리티      3480    한진중공업홀딩스      23.25    82018.35     2
건설         65950         웰크론     301.05  1934381.92     1
게임엔터테인먼트   36570       엔씨소프트    1260.00    12347.56     1
게임엔터테인먼트   67000        조이시티      45.22    33923.26     2
게임엔터테인먼트   35620     바른손이앤에이      35.90   179192.81     3
교육        289010     아이스크림에듀     187.10   415449.72     1
교육         57030        YBM넷      88.40  1956121.50     2
교육        133750        메가엠디      38.45  1033654.76     3

In [13]:
df6.head(13)

        stk_cd      stk_nm   60일prc기울기     60일vol기울기  rank
sec_nm
NaN     006405      삼성SDI우  638.055550    544.773050     1
NaN     00279K  아모레G3우(전환)  515.708333    171.399717     2
NaN     051905     LG생활건강우  403.333333     13.931950     3
IT서비스   035720         카카오  211.527783   3391.642783     1
IT서비스   093320     케이아이엔엑스  116.805550     18.126117     2
IT서비스   035420       NAVER   99.722217   1379.836383     3
가구제조업   003800       에이스침대   72.416667     62.639450     1
가구제조업   013890         지누스   64.700283   1158.374717     2
가구제조업   134790         시디즈   18.277783      9.361117     3
가스유틸리티  016710       대성홀딩스    3.625000    293.594717     1
가스유틸리티  053050        지에스이    2.083333   7618.496950     2
가정용기기   002700        신일전자    1.634733  19789.961933     1
가정용기기   071460       위니아딤채    1.216667   1599.052233     2

In [14]:
groups6 = df6.groupby('sec_nm')
groups6.size()

sec_nm
IT서비스         3
가구제조업         3
가스유틸리티        2
가정용기기         3
건설            1
건축자재          1
건축제품          2
게임엔터테인먼트      3
교육            3
금융            3
기계와장비         2
기타서비스         2
디스플레이장비및부품    3
레저            2
반도체           3
비철금속          2
생물공학          2
섬유의류          2
소매유통업         1
오락과문화         2
우주항공및국방       1
운송업           1
유통            3
음식료           3
의료정밀기기        3
자동차부품         2
전기전자          3
전자부품제조업       3
전자장비와기기       2
제약바이오         3
조선            3
종이와목재         3
주류제조업         3
증권            1
철강과금속         1
컴퓨터와주변기기      2
통신장비          3
항공사           1
해운사           2
핸드셋           3
화물운송과물류       3
화장품           1
화학            2
dtype: int64

In [15]:
groups6.mean()

C:\Users\tjk\AppData\Local\Temp\ipykernel_11780\181594574.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups6.mean()

             60일prc기울기      60일vol기울기  rank
sec_nm
IT서비스       142.685183    1596.535094   2.0
가구제조업        51.798244     410.125095   2.0
가스유틸리티        2.854166    3956.045833   1.5
가정용기기         1.203244    8758.657778   2.0
건설           35.013883  295567.761117   1.0
건축자재          1.293883    7636.337500   1.0
건축제품          7.782775   18043.886950   2.0
게임엔터테인먼트    513.499995     680.480556   2.0
교육           30.247217   39201.857872   2.0
금융            5.753611   71866.041389   2.0
기계와장비        44.626392    2260.379584   2.0
기타서비스       114.011942     909.135275   1.5
디스플레이장비및부품   98.467500    1482.038706   2.0
레저           30.540275    3987.658334   2.0
반도체         194.625828    3510.411289   2.0
비철금속         23.210417    5936.134308   2.0
생물공학         43.439025   78386.247225   1.5
섬유의류         13.286100    1149.276942   2.5
소매유통업         4.133333      74.580550   1.0
오락과문화        50.770833    1382.164575   1.5
우주항공및국방      27.277783    1868.898600   1.0
운송업           2.720833     636.144717   1.0
유통           58.972217    1196.306755   2.0
음식료          91.009261     273.433239   2.0
의료정밀기기      101.629633     697.787500   2.0
자동차부품        25.454166    5851.536816   2.5
전기전자          4.099261    3284.425183   2.0
전자부품제조업     417.888889    7396.732961   2.0
전자장비와기기      84.972217     357.207083   2.5
제약바이오       528.071756    2474.892406   2.0
조선            5.673611   14767.413239   2.0
종이와목재        23.900928   54623.074350   2.0
주류제조업         9.218522   14116.786478   2.0
증권            1.233333     788.899167   2.0
철강과금속         2.344450    7669.919167   1.0
컴퓨터와주변기기     17.304441    4518.605841   2.0
통신장비        147.965183    4592.769622   2.0
항공사         196.388883   26075.772767   1.0
해운사          18.081259    9236.931534   1.5
핸드셋          50.401850    1723.973989   2.0
화물운송과물류      19.677878    9601.913050   2.0
화장품         322.500000     320.970833   1.0
화학          410.276808    5437.207783   1.5

In [16]:
groups6[['60일prc기울기', '60일vol기울기']].aggregate([max, np.mean, min])

              60일prc기울기                              60일vol기울기                 \
                    max        mean         min            max           mean
sec_nm
IT서비스        211.527783  142.685183   99.722217    3391.642783    1596.535094
가구제조업         72.416667   51.798244   18.277783    1158.374717     410.125095
가스유틸리티         3.625000    2.854166    2.083333    7618.496950    3956.045833
가정용기기          1.634733    1.203244    0.758333   19789.961933    8758.657778
건설            35.013883   35.013883   35.013883  295567.761117  295567.761117
건축자재           1.293883    1.293883    1.293883    7636.337500    7636.337500
건축제품          12.677783    7.782775    2.887767   20953.775283   18043.886950
게임엔터테인먼트    1406.111100  513.499995   31.472217    1166.289167     680.480556
교육            64.194433   30.247217    4.586100   86776.492500   39201.857872
금융             8.583333    5.753611    1.808050  186391.092233   71866.041389
기계와장비         51.769167   44.626392   37.483617    3783.599450    2260.379584
기타서비스        174.833333  114.011942   53.190550     926.625550     909.135275
디스플레이장비및부품   130.750000   98.467500   54.194167    2244.121117    1482.038706
레저            58.305550   30.540275    2.775000    6667.145000    3987.658334
반도체          271.527767  194.625828  154.272500    7487.356100    3510.411289
비철금속          44.159717   23.210417    2.261117    6821.504167    5936.134308
생물공학          70.093883   43.439025   16.784167  156590.991117   78386.247225
섬유의류          15.294433   13.286100   11.277767    2241.663617    1149.276942
소매유통업          4.133333    4.133333    4.133333      74.580550      74.580550
오락과문화         52.000000   50.770833   49.541667    1723.080550    1382.164575
우주항공및국방       27.277783   27.277783   27.277783    1868.898600    1868.898600
운송업            2.720833    2.720833    2.720833     636.144717     636.144717
유통            77.750000   58.972217   36.805550    2262.513333    1196.306755
음식료          165.972217   91.009261   47.083333     389.774717     273.433239
의료정밀기기       141.861117  101.629633   60.902783    1565.724717     697.787500
자동차부품         25.727783   25.454166   25.180550    8087.607233    5851.536816
전기전자           4.433333    4.099261    3.802783    5275.946383    3284.425183
전자부품제조업      788.194433  417.888889  179.194450   10501.248050    7396.732961
전자장비와기기      109.263883   84.972217   60.680550     391.048333     357.207083
제약바이오       1013.472217  528.071756  242.201383    5728.836667    2474.892406
조선            12.387500    5.673611    1.491667   40454.573600   14767.413239
종이와목재         27.208333   23.900928   21.062500  143640.445833   54623.074350
주류제조업         15.911117    9.218522    1.763883   22422.293333   14116.786478
증권             1.233333    1.233333    1.233333     788.899167     788.899167
철강과금속          2.344450    2.344450    2.344450    7669.919167    7669.919167
컴퓨터와주변기기      34.030550   17.304441    0.578333    7432.921950    4518.605841
통신장비         228.319450  147.965183  106.819433    6871.649433    4592.769622
항공사          196.388883  196.388883  196.388883   26075.772767   26075.772767
해운사           35.731950   18.081259    0.430567   10285.115567    9236.931534
핸드셋           84.319433   50.401850   26.597233    3007.584450    1723.973989
화물운송과물류       51.847233   19.677878    2.319733   15270.566933    9601.913050
화장품          322.500000  322.500000  322.500000     320.970833     320.970833
화학           717.777783  410.276808  102.775833    6404.169733    5437.207783


                      min
sec_nm
IT서비스           18.126117
가구제조업            9.361117
가스유틸리티         293.594717
가정용기기         1599.052233
건설          295567.761117
건축자재          7636.337500
건축제품         15133.998617
게임엔터테인먼트       300.356383
교육             131.031117
금융              55.756100
기계와장비          737.159717
기타서비스          891.645000
디스플레이장비및부품     916.253050
레저            1308.171667
반도체            650.263050
비철금속          5050.764450
생물공학           181.503333
섬유의류            56.890267
소매유통업           74.580550
오락과문화         1041.248600
우주항공및국방       1868.898600
운송업            636.144717
유통             431.633333
음식료            196.356383
의료정밀기기         228.871117
자동차부품         3615.466400
전기전자            41.681950
전자부품제조업       5480.440283
전자장비와기기        323.365833
제약바이오          391.980550
조선             302.135550
종이와목재          550.813883
주류제조업         2360.887217
증권             788.899167
철강과금속         7669.919167
컴퓨터와주변기기      1604.289733
통신장비          3024.610000
항공사          26075.772767
해운사           8188.747500
핸드셋            142.452783
화물운송과물류       1136.721383
화장품            320.970833
화학            4470.245833

In [17]:
groups6['60일prc기울기'].aggregate([max, np.mean, min, np.std]).sort_values(by='max', ascending=False)

                    max        mean         min         std
sec_nm
게임엔터테인먼트    1406.111100  513.499995   31.472217  773.848833
제약바이오       1013.472217  528.071756  242.201383  422.580013
전자부품제조업      788.194433  417.888889  179.194450  325.132830
화학           717.777783  410.276808  102.775833  434.872049
화장품          322.500000  322.500000  322.500000         NaN
반도체          271.527767  194.625828  154.272500   66.626197
통신장비         228.319450  147.965183  106.819433   69.595577
IT서비스        211.527783  142.685183   99.722217   60.228214
항공사          196.388883  196.388883  196.388883         NaN
기타서비스        174.833333  114.011942   53.190550   86.014437
음식료          165.972217   91.009261   47.083333   65.238903
의료정밀기기       141.861117  101.629633   60.902783   40.481440
디스플레이장비및부품   130.750000   98.467500   54.194167   39.661492
전자장비와기기      109.263883   84.972217   60.680550   34.353604
핸드셋           84.319433   50.401850   26.597233   30.160689
유통            77.750000   58.972217   36.805550   20.681523
가구제조업         72.416667   51.798244   18.277783   29.284836
생물공학          70.093883   43.439025   16.784167   37.695662
교육            64.194433   30.247217    4.586100   30.655879
레저            58.305550   30.540275    2.775000   39.266028
오락과문화         52.000000   50.770833   49.541667    1.738304
화물운송과물류       51.847233   19.677878    2.319733   27.888569
기계와장비         51.769167   44.626392   37.483617   10.101409
비철금속          44.159717   23.210417    2.261117   29.626784
해운사           35.731950   18.081259    0.430567   24.961847
건설            35.013883   35.013883   35.013883         NaN
컴퓨터와주변기기      34.030550   17.304441    0.578333   23.654289
우주항공및국방       27.277783   27.277783   27.277783         NaN
종이와목재         27.208333   23.900928   21.062500    3.099640
자동차부품         25.727783   25.454166   25.180550    0.386952
주류제조업         15.911117    9.218522    1.763883    7.104336
섬유의류          15.294433   13.286100   11.277767    2.840212
건축제품          12.677783    7.782775    2.887767    6.922587
조선            12.387500    5.673611    1.491667    5.872636
금융             8.583333    5.753611    1.808050    3.522774
전기전자           4.433333    4.099261    3.802783    0.316952
소매유통업          4.133333    4.133333    4.133333         NaN
가스유틸리티         3.625000    2.854166    2.083333    1.090123
운송업            2.720833    2.720833    2.720833         NaN
철강과금속          2.344450    2.344450    2.344450         NaN
가정용기기          1.634733    1.203244    0.758333    0.438354
건축자재           1.293883    1.293883    1.293883         NaN
증권             1.233333    1.233333    1.233333         NaN

In [18]:
df6[df6['60일prc기울기']==df6['60일prc기울기'].max()]

          stk_cd stk_nm  60일prc기울기   60일vol기울기  rank
sec_nm
게임엔터테인먼트  036570  엔씨소프트  1406.1111  300.356383     1

In [19]:
df5[df5['10일prc기울기']==df5['10일prc기울기'].max()]

        stk_cd  stk_nm  10일prc기울기  10일vol기울기  rank
sec_nm
NaN       6405  삼성SDI우     3981.0     4328.5     1

In [20]:
df3[df3["stk_nm"] == "엔씨소프트"]

       stk_nm        60영업이익
stk_cd
36570   엔씨소프트  4.789924e+11

In [21]:
df2[df2["stk_nm"] == "엔씨소프트"]

       stk_nm         당기순이익
stk_cd
36570   엔씨소프트  3.591547e+11

In [22]:
df6.sort_values(by="60일prc기울기", ascending=False).head(10)

          stk_cd      stk_nm    60일prc기울기     60일vol기울기  rank
sec_nm
게임엔터테인먼트  036570       엔씨소프트  1406.111100    300.356383     1
제약바이오     207940    삼성바이오로직스  1013.472217   1303.860000     1
전자부품제조업   006400       삼성SDI   788.194433   5480.440283     1
화학        051910        LG화학   717.777783   4470.245833     1
NaN       006405      삼성SDI우   638.055550    544.773050     1
NaN       00279K  아모레G3우(전환)   515.708333    171.399717     2
NaN       051905     LG생활건강우   403.333333     13.931950     3
제약바이오     311690          천랩   328.541667    391.980550     2
화장품       051900      LG생활건강   322.500000    320.970833     1
전자부품제조업   247540      에코프로비엠   286.277783  10501.248050     2

In [23]:
df6.sort_values(by="60일prc기울기", ascending=False).head(15)["stk_cd"]

sec_nm
게임엔터테인먼트    036570
제약바이오       207940
전자부품제조업     006400
화학          051910
NaN         006405
NaN         00279K
NaN         051905
제약바이오       311690
화장품         051900
전자부품제조업     247540
반도체         058470
제약바이오       235980
통신장비        327260
IT서비스       035720
항공사         180640
Name: stk_cd, dtype: object

In [24]:
# 60일 prc 기울기 상위 15개 종목명
# list_60 = df6.sort_values(by="60일prc기울기", ascending=False).head(15)["stk_cd"].to_list()
list_60 = df6.sort_values(by="60일prc기울기", ascending=False).head(15)["stk_nm"].to_list()
list_60

['엔씨소프트',
 '삼성바이오로직스',
 '삼성SDI',
 'LG화학',
 '삼성SDI우',
 '아모레G3우(전환)',
 'LG생활건강우',
 '천랩',
 'LG생활건강',
 '에코프로비엠',
 '리노공업',
 '메드팩토',
 '메탈라이프',
 '카카오',
 '한진칼']

In [25]:
# 10일 prc 기울기 상위 15개 종목명
# list_10 = df5.sort_values(by="10일prc기울기", ascending=False).head(15)["stk_cd"].to_list()
list_10 = df5.sort_values(by="10일prc기울기", ascending=False).head(15)["stk_nm"].to_list()
list_10

['삼성SDI우',
 '농심',
 '씨젠',
 '삼성바이오로직스',
 '에코프로비엠',
 '한진칼',
 '엔씨소프트',
 '리노공업',
 '셀트리온헬스케어',
 '삼성SDI',
 '마크로젠',
 '신풍제약우',
 '네패스',
 '수젠텍',
 'LG화학']

In [26]:
# list_10 = [f"{'0' * (6-len(str(code))) +str(code):06s}" for code in list_10]
list_10 = df5.sort_values(by="10일prc기울기", ascending=False).head(15)["stk_nm"].to_list()
list_10

['삼성SDI우',
 '농심',
 '씨젠',
 '삼성바이오로직스',
 '에코프로비엠',
 '한진칼',
 '엔씨소프트',
 '리노공업',
 '셀트리온헬스케어',
 '삼성SDI',
 '마크로젠',
 '신풍제약우',
 '네패스',
 '수젠텍',
 'LG화학']

In [27]:
list_chosen = list(set(list_60) & set(list_10))
list_chosen

['삼성바이오로직스', '삼성SDI', '엔씨소프트', '한진칼', 'LG화학', '리노공업', '삼성SDI우', '에코프로비엠']

In [28]:
for name in list_chosen:
    print(f"종목명 {name} 영업이익")
    print(df1[df1["stk_nm"]==name]["영업이익"].to_numpy())
    print("=" * 50)

종목명 삼성바이오로직스 영업이익
[]
==================================================
종목명 삼성SDI 영업이익
[4.6218e+11]
==================================================
종목명 엔씨소프트 영업이익
[4.7899e+11]
==================================================
종목명 한진칼 영업이익
[-3.8813e+09]
==================================================
종목명 LG화학 영업이익
[8.9565e+11]
==================================================
종목명 리노공업 영업이익
[]
==================================================
종목명 삼성SDI우 영업이익
[]
==================================================
종목명 에코프로비엠 영업이익
[]
==================================================

In [31]:
df7 = pd.read_csv('SEC_RANK_2019_2.csv',
                  dtype={"STK_CD":object, "STK_NM":object, "SEC_NM":object,
                         "당기순이익":float, "영업이익":float, "총이익":float, "RANK_2019":int})

In [33]:
df7.head(15)

,STK_CD,STK_NM,SEC_NM,당기순이익,영업이익,총이익,RANK_2019
0,018260,삼성에스디에스,IT서비스,7.504490e+11,9.900894e+11,1.740538e+12,1
1,035420,NAVER,IT서비스,3.968211e+11,7.100702e+11,1.106891e+12,2
2,023590,다우기술,IT서비스,3.958654e+11,5.075389e+11,9.034042e+11,3
3,038540,상상인,IT서비스,1.203865e+11,1.823732e+11,3.027596e+11,4
4,035600,KG이니시스,IT서비스,6.002612e+10,8.614563e+10,1.461718e+11,5
5,013890,지누스,가구제조업,7.242638e+10,1.038682e+11,1.762946e+11,1
6,079430,현대리바트,가구제조업,1.946567e+10,2.388251e+10,4.334818e+10,2
7,071950,코아스,가구제조업,2.120413e+09,3.080909e+09,5.201322e+09,3
8,073190,듀오백,가구제조업,-2.956673e+09,-2.468695e+09,-5.425368e+09,4
9,011090,에넥스,가구제조업,-3.764886e+09,-2.830597e+09,-6.595483e+09,5
10,036460,한국가스공사,가스유틸리티,5.826915e+10,1.334514e+12,1.392783e+12,1
11,018670,SK가스,가스유틸리티,1.541186e+11,1.895784e+11,3.436970e+11,2
12,004690,삼천리,가스유틸리티,3.597499e+10,8.556532e+10,1.215403e+11,3
13,003480,한진중공업홀딩스,가스유틸리티,3.035500e+10,3.842200e+10,6.877700e+10,4
14,017940,E1,가스유틸리티,-5.240250e+10,1.063099e+11,5.390743e+10,5

In [35]:
for name in list_chosen:
    print(f"종목명 {name} 영업이익")
    print(df7[df7["STK_NM"]==name]["영업이익"].to_numpy())
    print("=" * 50)

종목명 삼성바이오로직스 영업이익
[]
==================================================
종목명 삼성SDI 영업이익
[4.6218e+11]
==================================================
종목명 엔씨소프트 영업이익
[4.7899e+11]
==================================================
종목명 한진칼 영업이익
[-3.8813e+09]
==================================================
종목명 LG화학 영업이익
[8.9565e+11]
==================================================
종목명 리노공업 영업이익
[]
==================================================
종목명 삼성SDI우 영업이익
[]
==================================================
종목명 에코프로비엠 영업이익
[]
==================================================